# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text
*.json text

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Source code
*.ts text
*.tsx text
*.js text
*.jsx text
*.css text
*.scss text
*.html text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
